
body{
    padding-left:160px;
}

h2{
    padding-left:40px;
}

table{
    padding:40px;
}

td,th,tr{

padding:20px;

}

#title{
    padding:20px;
}

.Input_info{

    padding:20px;

}

.Lists{

padding-top:20px;

}